<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Profile</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/admin-profile.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="javascripts/admin_dashboard.js" defer></script>
</head>

<body>
    <div id="coolfroggyclub">
        <nav>
            <div class="nav-container" >
                <span><a href="index.html" class="logo"><img src="images/CoolFroggyLogo.png"
                            alt="Cool Froggy Club logo"></a></span>

                <div class="nav-menu">
                    <div><a href="about-us.html">About us</a></div>
                    <div><a href="upcoming-events.html">Upcoming Events</a></div>
                    <div><a href="latest-news.html">Latest News</a></div>
                    <div><a href="join-a-club.html">Join A Club</a></div>

                    <div class="login" v-show="!signedIn"><a v-bind:href="URL">{{ buttonName }}</a></div>
                    <div class="login" v-show="signedIn">
                        <a>{{ buttonName }}</a>
                        <ul class="account-dropdown">
                            <li><a class="account-dropdown-item" v-bind:href="URL">Your Profile</a></li>
                            
                            <li><button class="account-dropdown-item" type="button" v-on:click="signedIn=false; logout();">Sign Out</button></li>
                        </ul>
                    </div>
                </div>

                <button type="button" v-bind:class="menu" @click="toggleMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <div v-bind:class="dropdown">
                <div><a href="about-us.html">About us</a></div>
                <div><a href="upcoming-events.html">Upcoming Events</a></div>
                <div><a href="latest-news.html">Latest News</a></div>
                <div><a href="join-a-club.html">Join A Club</a></div>
                <div class="login" v-show="!signedIn"><a v-bind:href="URL">{{ buttonName }}</a></div>
                <div class="login" v-show="signedIn">
                    <a>{{ buttonName }}</a>
                    <ul class="account-dropdown-2">
                        <li><a class="account-dropdown-item-2" v-bind:href="URL">Your Profile</a></li>
                        <li><button class="account-dropdown-item-2" type="button"
                                v-on:click="signedIn=false; logout();">Sign Out</button></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div aria-label="Breadcrumb" class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <!-- <li><a href="admin-account.html">Account</a></li> -->
                <li><span aria-current="page">Profile</span></li>
            </ul>
        </div>

        <main>
            <article>
                <div class="profile">
                    <!-- Admin Profile Summary -->
                    <div class="admin-information">
                        <h1>Hi, <span id="username"> {{ first_name + ' ' + last_name}}</span>!</h1>
                        <br>
                        <h3>Admin Profile Summary  <button type="button" id="edit-button" onclick="location.href ='admin-account.html';"> Edit</button> </h3>
                        <br>
                        <div class="deets">
                            <div class="deets-rows">
                                <div class="deets-cols left">
                                    <label for="first_name">First Name: </label>
                                    <input type="text" id="first-name" name="first-name" v-bind:value="first_name" disabled>
                                </div>
                                <div class="deets-cols right">
                                    <label for="username">Last Name: </label>
                                    <input type="text" id="last-name" name="last-name" v-bind:value="last_name" disabled>
                                </div>
                            </div>

                            <div class="deets-rows">
                                <div class="deets-cols left">
                                    <label for="dob">Date of Birth:</label>
                                    <input type="text" id="dob" name="dob" v-bind:value="formatDate(dob)" disabled>
                                </div>
                                <div class="deets-cols right">
                                    <label for="email">Email: </label>
                                    <input type="text" id="email" name="email" v-bind:value="email" disabled>
                                </div>
                            </div>

                            <div class="deets-rows">
                                <div class="deets-cols left">
                                    <label for="mobile">Mobile: </label>
                                    <input type="text" id="mobile" name="mobile" v-bind:value="mobile" disabled>
                                </div>
                                <div class="deets-cols right">
                                    <!-- <label for="username">Last Name: </label>
                                    <input type="text" v-bind:value="last_name" disabled> -->
                                </div>
                            </div>
                        </div>

                        <div id="buttons">
                            <a href="signup-admin.html" id="sign-up-admin-button">Sign Up New Admin</a>
                            <a href="pending-club-manager.html" id="pending-club-manger-button">Club Manager Approval Pending</a>
                        </div>

                    </div>

                    <!-- Clubs -->
                    <div class="admin-club-member">
                        <div class="clubs">
                            <h2>Clubs</h2>
                            <div class="club-content">
                                <div class="club-list">
                                    <div class="indv-member" v-for="(club, index) in all_clubs">

                                        <span class="member-name">{{club.club_id}}. {{ club.club_name }}</span>

                                        <button type="button" class="delete-button" title="Remove Member" v-on:click="delete_club(club.club_id);">
                                            <img src="images/delete-button.png" alt="Delete" class="delete-icon">
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Clubs Member -->
                        <div class="members">
                            <h2>Members</h2>
                            <div class="member-content">
                                <div class="member-list">

                                    <div class="indv-member" v-for="user in all_users">

                                        <span class="member-name"> {{user.user_id}} </span>
                                        <span class="member-name"> {{user.first_name + ' ' + user.last_name}} </span>
                                        <span class="member-name"> {{user.email}} </span>

                                        <button type="button" class="delete-button" title="Remove Member" v-on:click="delete_user(user.user_id);">
                                            <img src="images/delete-button.png" alt="Delete" class="delete-icon">
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </main>

        <footer class="social-media">
            <a href="https://www.facebook.com"><img src="images/facebook-icon.png" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="images/instagram-icon.png" alt="Instagram"></a>
            <a href="https://twitter.com"><img src="images/twitter-icon.png" alt="Twitter"></a>
        </footer>
    </div>
</body>

</html>