<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Club</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/account.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="javascripts/edit_event_news_club.js" defer></script>
</head>

<body>
    <div id="coolfroggyclub">
        <nav id="signin">
            <div class="nav-container" onload="check_login()">
                <span><a href="index.html" class="logo"><img src="images/CoolFroggyLogo.png"
                            alt="Cool Froggy Club logo"></a></span>

                <div class="nav-menu">
                    <div><a href="about-us.html">About us</a></div>
                    <div><a href="upcoming-events.html">Upcoming Events</a></div>
                    <div><a href="latest-news.html">Latest News</a></div>
                    <div><a href="join-a-club.html">Join A Club</a></div>
                    <div class="login" v-show="!signedIn"><a v-bind:href="URL">{{ buttonName }}</a></div>
                    <div class="login" v-show="signedIn">
                        <a>{{ buttonName }}</a>
                        <ul class="account-dropdown">
                            <li><a class="account-dropdown-item" v-bind:href="URL">Your Profile</a></li>
                            <li><button class="account-dropdown-item" type="button"
                                    v-on:click="signedIn=false; logout();">Sign Out</button></li>
                        </ul>
                    </div>
                </div>

                <button type="button" v-bind:class="menu" @click="toggleMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <div v-bind:class="dropdown">
                <div><a href="about-us.html">About us</a></div>
                <div><a href="upcoming-events.html">Upcoming Events</a></div>
                <div><a href="latest-news.html">Latest News</a></div>
                <div><a href="join-a-club.html">Join A Club</a></div>
                <div class="login" v-show="!signedIn"><a v-bind:href="URL">{{ buttonName }}</a></div>
                <div class="login" v-show="signedIn">
                    <a>{{ buttonName }}</a>
                    <ul class="account-dropdown-2">
                        <li><a class="account-dropdown-item-2" v-bind:href="URL">Your Profile</a></li>
                        <li><button class="account-dropdown-item-2" type="button"
                                v-on:click="signedIn=false; logout();">Sign Out</button></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div aria-label="Breadcrumb" class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="club-manager-profile.html">Profile</a></li>
                <li><span aria-current="page">Edit Club</span></li>
            </ul>
        </div>

        <main>
            <article class="account-details">
                <h1>Edit club details</h1>
                <br>

                <!-- -------------------LINK BACK TO LOGIN PAGE AFTER SIGNING UP------------------------ -->
                <form v-on:submit.prevent="update_info"> <!-- prevents default reloading of page after submitting -->
                    <label for="first-name">Club Name:</label>
                    <input type="text" id="club_name" name="club_name" v-bind:placeholder="club_name" v-model="new_club_name">

                    <label for="last-name">Email:</label>
                    <input type="text" id="email" name="email" v-bind:placeholder="club_email" v-model="new_club_email">

                    <label for="last-name">Description:</label>
                    <input type="text" id="club_description" name="club_description" v-bind:placeholder="club_description" v-model="new_club_description">

                    <label for="last-name">Phone Number:</label>
                    <input type="text" id="phone" name="phone" v-bind:placeholder="club_phone" v-model="new_club_phone">

                    <input type="submit" value="Confirm" v-on:click="update_club">
                </form>

            </article>

        </main>

        <footer class="social-media">
            <a href="https://www.facebook.com"><img src="images/facebook-icon.png" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="images/instagram-icon.png" alt="Instagram"></a>
            <a href="https://twitter.com"><img src="images/twitter-icon.png" alt="Twitter"></a>
        </footer>
    </div>
</body>

</html>